.navbar-container {
    background-color: var(--navbar-bg);
    border-bottom: 2px solid var(--navbar-text);
}

.navbar-logo {
    color: var(--navbar-text);
}

.navbar-link {
    background-color: var(--navbar-bg);
    color: var(--navbar-text);
}

.navbar-separator {
    background-color: var(--navbar-text);
}
